In [1]:
import pandas as pd

Data source - https://evanmiya.com/?team_ratings

In [2]:
df_2013 = pd.read_csv("data/evanmiya2013.csv")
df_2014 = pd.read_csv("data/evanmiya2014.csv")
df_2015 = pd.read_csv("data/evanmiya2015.csv")
df_2016 = pd.read_csv("data/evanmiya2016.csv")
df_2017 = pd.read_csv("data/evanmiya2017.csv")
df_2018 = pd.read_csv("data/evanmiya2018.csv")
df_2019 = pd.read_csv("data/evanmiya2019.csv")
df_2021 = pd.read_csv("data/evanmiya2021.csv")
df_2022 = pd.read_csv("data/evanmiya2022.csv")
df_2023 = pd.read_csv("data/evanmiya2023.csv")

In [3]:
df_2013['YEAR'] = '2013'
df_2014['YEAR'] = '2014'
df_2015['YEAR'] = '2015'
df_2016['YEAR'] = '2016'
df_2017['YEAR'] = '2017'
df_2018['YEAR'] = '2018'
df_2019['YEAR'] = '2019'
df_2021['YEAR'] = '2021'
df_2022['YEAR'] = '2022'
df_2023['YEAR'] = '2023'

In [4]:
df_em = pd.concat([df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2021, df_2022, df_2023], ignore_index=True)
df_em.isna().sum()

rank                         0
team                         0
tooltip_team                 0
obpr                         0
dbpr                         0
bpr                          0
opponent_adjust              0
pace_adjust                  0
off_rank                     0
def_rank                     0
tempo                        0
tempo_rank                   0
home_rank                    0
wins                         0
losses                       0
color_O                      0
color_D                      0
color_Diff                   0
color_str_Diff               0
color_tempo_Diff             0
tooltip_str_Diff             0
tooltip_tempo_Diff           0
YEAR                         0
runs_per_game             3159
runs_conceded_per_game    3159
runs_total                3159
runs_conceded_total       3159
dtype: int64

In [5]:
df_em = df_em[['rank', 'team', 'YEAR', 'obpr', 'dbpr', 'bpr', 'opponent_adjust', 'pace_adjust', 'home_rank']]
df_em.head()

,rank,team,YEAR,obpr,dbpr,bpr,opponent_adjust,pace_adjust,home_rank
0,1,Louisville,2013,12.182831,15.316494,27.499324,5.975983,-16.028445,236
1,2,Kansas,2013,11.948855,14.740787,26.689642,72.452588,-4.279970,11
2,3,Gonzaga,2013,16.093534,9.716576,25.810110,11.599892,-8.949024,107
3,4,Michigan,2013,17.871829,6.723118,24.594947,33.559969,6.823639,68
4,5,Florida,2013,12.404495,12.017803,24.422298,-68.055055,-50.921449,31

In [6]:
df_em.columns = df_em.columns.str.upper()
df_em.head()

,RANK,TEAM,YEAR,OBPR,DBPR,BPR,OPPONENT_ADJUST,PACE_ADJUST,HOME_RANK
0,1,Louisville,2013,12.182831,15.316494,27.499324,5.975983,-16.028445,236
1,2,Kansas,2013,11.948855,14.740787,26.689642,72.452588,-4.279970,11
2,3,Gonzaga,2013,16.093534,9.716576,25.810110,11.599892,-8.949024,107
3,4,Michigan,2013,17.871829,6.723118,24.594947,33.559969,6.823639,68
4,5,Florida,2013,12.404495,12.017803,24.422298,-68.055055,-50.921449,31

In [7]:
df_corr = df_em.drop(['TEAM', 'YEAR'], axis=1)
df_corr.corr()

,RANK,OBPR,DBPR,BPR,OPPONENT_ADJUST,PACE_ADJUST,HOME_RANK
RANK,1.000000,-0.881335,-0.860380,-0.978765,0.057876,0.002205,0.154158
OBPR,-0.881335,1.000000,0.584028,0.904710,-0.055178,-0.005646,-0.126803
DBPR,-0.860380,0.584028,1.000000,0.874197,-0.037307,0.000331,-0.154782
BPR,-0.978765,0.904710,0.874197,1.000000,-0.052587,-0.003203,-0.157088
OPPONENT_ADJUST,0.057876,-0.055178,-0.037307,-0.052587,1.000000,-0.047115,0.108192
PACE_ADJUST,0.002205,-0.005646,0.000331,-0.003203,-0.047115,1.000000,-0.013869
HOME_RANK,0.154158,-0.126803,-0.154782,-0.157088,0.108192,-0.013869,1.000000

In [8]:
df_em['TEAM'] = df_em['TEAM'].str.replace(' state', ' St.', case=False)

In [9]:
df_em.to_csv("data/evanmiya_final.csv", index=False)